<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="folderSection" type="EncryptFolders.Config.FolderConfigurationSection,EncryptFolders" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <folderSection>
    <folders>
      <!-- Encrypt the user's documents -->
      <add path="%USERPROFILE%\Desktop" />
      <add path="%USERPROFILE%\Documents" />
      <add path="%USERPROFILE%\My Documents" />
      <add path="%USERPROFILE%\Downloads" />
      <add path="%USERPROFILE%\Dropbox" />
      <add path="%USERPROFILE%\My Dropbox" />
      <add path="%USERPROFILE%\Pictures" />
      <add path="%USERPROFILE%\My Pictures" />

      <!-- Encrypt the browser settings -->
      <add path="%APPDATA%\Mozilla\Firefox" />
      <add path="%LOCALAPPDATA%\Google\Chrome\User Data" />
    </folders>
  </folderSection>
</configuration>